.btn{
    background-color: violet;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}


.btn1{
    padding: 5px;
    height: 55px;
    width: 70px;
    background-color: cadetblue;
    font-size: 15px;
}